*{
    box-sizing: border-box;
}

body, html{
    min-height: 100vh;
    margin:0;
}

img {
    max-width:  100%;
}

body{
	color: black;
	background-color: #FAE1FA;
	font-size: 15px;
	text-align: center;
}

.photos {
	font-size: 25px;
	/*display: inline-flex;*/
}


div > div{
	margin-left: 50px;
	margin-top: 50px;
	margin-right: 50px;
	padding: 40px;
	width: 700px;
	height: 700px;
}

.active{
	background: pink;
}


.buttons{
	padding:30px;
	margin-left: 40px;
}

